# Githubに上げたくないファイルの設定
# 無料ユーザーは1GBまでなので容量が無駄に食いそうなファイルは上げない
# pullした時に環境によって上書きしたくないファイルも上げない

# 直下のディレクトリ配下を対象外にする。
plugin/
bkup/

# 配下の「img」ディレクトリすべてを対象外にする
**/img/

# 指定した拡張子のファイルすべてを対象外にする
# （/をつけないことでサブディレクトリ全体を指定）
*.jpg
*.png
*.gif
*.psd
*.cgi
*.mp3
*.sqlite
*.dat
*.csv
*.txt
*.db

